.mainContainer {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* General styles for the home page container */
.homePageContainer {
    display: flex;
    width: 90vw;
    border-radius: 1em;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: #282828;
}

/* Styles for the section about me container */
.reeceContainer {
    height: 75vh;
    width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #3C3836;
    border-radius: 1em;
    gap: 2em;
    padding: .5em;
}

/* Styles for the media links container in the about me section */
.mediaLinksContainer {
    align-self: center;
    display: flex;
    background: #EBDBB2;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-top: 2em;
    margin-bottom: 0;
    gap: 4em;
    border-radius: 2em;
}

/* Styles for the portrait in about me section */
.reecePortrait {
    border-radius: 2em;
}

/* Styles for the about me text in about me section */
.aboutMeContainer {
    color: #EBDBB2;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font-jetbrains-mono);
    font-weight: 400;
    word-wrap: break-word;
    margin: 1em;
}

/* Styles for the color of the about me text */
.aboutMeTitle {
    color: #CC241D;
}

.aboutMeName {
    color: #98971A;
}

.aboutMeYellow {
    color: #D79921;
}

.aboutMeGreyBlue {
    color: #458588;
}

.aboutMeOrange {
    color: #D65D0E;
}

/* Styles for the coding section in the home page. */
.homeSectionContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Styles for the section languages container */
.languageContainer {
    padding: .5em;
    height: 75vh;
    width: 15em;
    background: #1D2021;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 1em;
}

/* Styles for the languages title text in the languages section */
.languageTitle {
    color: #B8BB26;
    text-align: center;
    font-size: 2rem;
    font-family: var(--font-jetbrains-mono);
    font-weight: 400;
    word-wrap: break-word;
}

/* Styles for the languages icons container in the languages section */
.languageIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.3em;
}

/* Styles for the section frameworks container */
.frameworkContainer {
    padding: .5em;
    height: 75vh;
    width: 15em;
    background: #3c3836;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1%;
    border-radius: 1em;
}

/* Styles for the frameworks title text in the frameworks section */
.frameworkTitle {
    text-align: center;
    color: #FABD2F;
    font-size: 2rem;
    font-family: var(--font-jetbrains-mono);
    font-weight: 400;
    word-wrap: break-word;
}

/* Styles for the frameworks icons container in the frameworks section */
.frameworkIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
    padding-bottom: .5em;
}

/* Styles for the section library container */
.libraryContainer {
    padding: .5em;
    height: 75vh;
    width: 20em;
    background: #665C54;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1%;
    border-radius: 1em;
}

/* Styles for the library title text in the library section */
.libraryTitle {
    text-align: center;
    color: #8ec07c;
    font-size: 2rem;
    font-family: var(--font-jetbrains-mono);
    font-weight: 400;
    word-wrap: break-word;
}

/* Styles for the library icons container in the library section */
.libraryIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.5em;
    padding-bottom: .5em;
}

/* Styles for the section tool container */
.toolContainer {
    padding: .5em;
    height: 75vh;
    width: 18em;
    background: #EBDBB2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1%;
    border-radius: 1em;
}

/* Styles for the tool title text in the tools section */
.toolTitle {
    text-align: center;
    color: #b16286;
    font-size: 2rem;
    font-family: var(--font-jetbrains-mono);
    font-weight: 400;
    word-wrap: break-word;
}

/* Styles for the tool icons container in the tools section */
.toolIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}