@font-face {
    font-family: 'CaskaydiaCove';
    src: url('./fonts/CaskaydiaCoveNerdFont-Regular.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* General styles for entire header container */
.navContainer {
    font-family: CaskaydiaCove;
    width: 100vw;
    height: 100%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: #FBF1C7;
    box-shadow: 0em .25em .75em .7em rgba(0, 0, 0, 0.25);
}

/* Styles for the left hand side container in the header, (ReeceKalmar();)*/
.lhTextContainer {
    margin-left: 5em;
    width: 25em;
    background: #1D2021;
    border-radius: 1.5em;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Styles for the left hand name text, (ReeceKalmar();)*/
.nameText {
    color: white;
    padding: 1em;
    font-size: 2.5rem;
    word-wrap: break-word;
}

/* Styles for the right hand side container in the header, (Resume Projects)*/
.rhTextContainer {
    margin-right: 5em;
    width: 35em;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}

/* Styles for the right hand resume text, (Resume)*/
.resumeText{
    color: white;
    background: #1D2021;
    padding: 1em;
    border-radius: .75em;
    font-size: 2.5rem;
    word-wrap: break-word;
}

/* Styles for the right hand resume text, (Projects)*/
.projectText{
    color: white;
    background: #1D2021;
    padding: 1em;
    border-radius: .75em;
    font-size: 2.5rem;
    word-wrap: break-word;
}